html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-weight: 400;
}

body > div {
	height: 100%;
	display: flex;
	flex-direction: column;
}

textarea {
	flex-grow: 1;
	width: 100%;
}

/* To be applied to a div with a single child. The child will be centered in the div and the div will fill the parent using flex-grow: 1 */
.c {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
	flex-grow: 1;
}

/* Outer class when there is some content */
.m {
	margin: 10px;
	display: flex;
	flex-direction: column;
}

/* Pagination (next/previous buttons) */
.p {
	margin: 5px 0 5px 0;
	display: flex;
	justify-content: space-between;
}
.p button {
	width: 100px;
}

/* Video information box */
.i {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}
.i div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.i p {
	white-space: pre-line;
}

/* Header */
.h {
	background-color: purple;
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
	user-select: none;
}
.h a {
	color: white;
}
.h h1 {
	font-size: x-large;
	margin: 0;
}
